<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp">

    <uses-permission
        android:name="android.permission.BIND_INCALL_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ChefMate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".popup_priority"
            android:theme="@style/popup"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ingredient" />
        <activity android:name=".Chooseingredient" />
        <activity android:name=".Showmenufromdatabase" />
        <activity android:name=".Favourite" />
        <activity android:name=".Home" />
        <activity
            android:name=".Showrecipe"
            android:parentActivityName=".Showmenufromdatabase" />
    </application>

</manifest>